/* 
    Main layout 
*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

body > * {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

body > main {
  background: #fffaf2;
  flex-grow: 1;
  overflow: auto;
}

body > footer {
  background: #c8c492;
}
/* 
  Header Layout
*/
.header-img {
  width: 100%;
  background: url(".img/header.jpg");
  background-size: cover;
}

body > header {
  background: #616959;
}

body > header > section {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  margin-right: auto;
  font-family: Cinzel Decorative;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}

body > header > section > nav > a {
  text-decoration: none;
  font-size: 20px;
  color: #fff8ec;
  font-family: Helvetica, Arial, sans-serif;
}

body > header > section > nav > *:not(:first-child) {
  margin-left: 72px;
}

/*
  Main layout
*/

main {
  padding: 32px 32px;
}
/*h2 {
  flex: 33.33%;
  background-color: #616959;
  color: white; 
  text-align: left;
  font-size: 15px;
  font-family: Cinzel Decorative;
  text-decoration: none;
}*/

#h2faq {
  padding: 10px;
}

/*
  Footer layout

*/

body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #616959;
  font-family: Helvetica, Arial, sans-serif;
}

body > footer > * {
  color: #616959;
  padding: 16px 64px;
}

/*
      Helper classes
*/
.pad {
  padding: 16px;
}

#image {
  position: absolute;
  height: 100%;
  width: 100%;
}

#formDiv {
  position: relative;
  background-color: #fff8ec;
  overflow: auto;
  flex: 1 0 0;
}

fieldset > div {
  float: left;
  margin: 20px;
}

#imageDiv {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
  margin: 0px;
}

fieldset > div > div {
  border-bottom-color: #616959;
  border-bottom-style: solid;
  height: 22px;
}

#pb {
  position: absolute;
  left: 656px;
  top: 200px;
}

fieldset {
  border: none;
  position: relative;
  height: 619px;
  width: 1312px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  background-color: white;
  padding: 0px;
}

input {
  outline: none;
  border: none;
}

#submit {
  background-color: #fde465;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
}

#hjemme {
  top: 200px;
  left: 313.5px;
  background-color: #fde465;
  color: black;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
}

#submit:hover,
#hjemme:hover {
  color: grey;
}

#innerDiv {
  margin-bottom: 64px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 619px;
}

#innerDiv > h2 {
  font-family: Cinzel Decorative;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  margin: 0px;
  position: relative;
  width: 718 px;
  height: 27px;
  left: 0px;
  top: 0px;

  background: #616959;
}

#h2booking {
  background-color: #616959;
  color: white;
  position: absolute;
  top: 0px;
  left: 50%;
  border-left: 30px;
  border-top: 3px;
  border-style: solid;
  border-color: #616959;
  width: 47.5%;
  font-family: Cinzel Decorative;
  padding-top: 10px;
  margin: 0px;
  height: 43px;
}

#div1 {
  position: relative;
  background-color: #fff8ec;
  text-align: center;
  height: 747px;
  overflow: auto;
  flex: 1 0 0;
}

#imageDiv2 {
  width: 100%;
  height: 280px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

#image2 {
  position: relative;
  height: auto;
  width: 100%;
  top: -100px;
}

#confirm {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  width: 750px;
  height: 296px;
  position: absolute;
  top: 385px;
}

@media screen and (max-width: 1100px) {
  #imageDiv {
    height: 276px;
    width: 100%;
  }

  #h2booking {
    position: absolute;
    width: 487px;
    left: 0px;
    top: 276px;
    margin-top: 0px;
  }

  fieldset {
    width: 520px;
  }

  fieldset > div {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  #pb {
    position: absolute;
    left: 30px;
    top: 490px;
  }

  /* bekreftelseskjema */

  #innerDiv {
    width: 520px;
  }

  #innerDiv > div {
    width: 520px;
  }

  #innerDiv > h2 {
    width: 488px;
  }

  #image2 {
    top: 0px;
  }

  #hjemme {
    left: 198.5px;
  }
}

.clm-2 {
  columns: 2;
}

.bold {
  font-weight: bold;
}

.capitalized {
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  justify-content: space-around;
}

/* 
  Card
*/

.card {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.card > img {
  width: 100%;
}

.card > h1 {
  background-color: #616959;
  font-size: 20px;
  color: white;
  padding: 8px 16px;
  margin: 0;
  font-family: Cinzel Decorative;
}

.card > p {
  padding: 8px 16px;
}

.card > ul > li:not(:first-child) {
  margin-top: 16px;
}

.card > footer {
  margin: 16px;
  margin-top: auto;
  display: flex;
  flex-direction: row-reverse;
}

.card button {
  background: #fb8641;
  color: white;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.card button:hover {
  background: #fb9254;
}

.card-imgrow {
  display: flex;
}

.card-imgrow > img {
  flex: 1 0 0;
  width: 0;
}
.card-imgrow > img:not(:first-child) {
  flex: 1 0 0;
  width: 0;
}
/* 
  Page layouts
*/

.tur-page {
  display: flex;
}

.tur-page > * {
  flex: 1 0 0;
}

.tur-page > *:first-child {
  flex: 3 0 0;
  margin-right: 16px;
}

@media only screen and (max-width: 1150px) {
  .tur-page {
    flex-direction: column;
  }
  .tur-page > *:first-child {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
/*
  Other
*/

.pad-content {
  background-color: white;
  margin: auto;
  width: 90%;
  /*padding: 20px;*/
  box-sizing: border-box;
}

.title-bar {
  background-color: #616959;
  font-family: Cinzel Decorative;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
}

.text {
  column-count: 3;
  column-gap: 20px;
}

#book {
  /*display: inline-block; */
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 2em;
  font-family: Helvetica;
  font-weight: 16px;
  background-color: #fde465;
  color: #616959;
  text-align: center;
  transition: all 0.2s;
  float: right;
}
#book:hover {
  background-color: #ffd603;
}
#book:active {
  background-color: #fb8641;
}

/*image gallery*/
.img-container {
  /*max-width: 1000px;*/
  position: relative;
  /*margin: auto;*/
}

.slides {
  display: none;
}

.back,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  user-select: none;
}

.next {
  right: 0;
}

.back:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.numbertext {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.column {
  flex: 33.33%;
  height: 200px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  text-align: left;
}

#Les-mer {
  /*display: inline-block; */
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: none;
  font-family: Helvetica;
  font-weight: 16px;
  background-color: #fb8641;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  float: right;
}
#hytte1 {
  width: 400px;
  height: 300px;
  align-content: center;
}
#hytte2 {
  width: 400px;
  height: 300px;
  align-content: center;
}
#hytte3 {
  width: 400px;
  height: 300px;
  align-content: center;
}

/*Styling image used to trigger the modal */
.myImages {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImages:hover {
  opacity: 0.7;
}

/*The modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
/* Modal content image */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/*Caption of modal image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/*zoom in the modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#h2_om {
  background-color: #616959;
  font-family: Cinzel Decorative;
  color: white;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
}

.about {
  background-color: white;
  width: 80%;
  height: auto;
  display: flex;
  margin: auto;
  padding: 50px;
  flex-direction: row;
  justify-content: space-between;
}

.faq {
  font-family: helvetica;
  width: 50%;
}

/*faq*/
.question {
  font-weight: bold;
}

.email-box {
  background-color: #fffaf2;
  padding: 20px;
  height: 280px;
  border: #616959;
  border-style: solid;
}

.email-box > div > input {
  background-color: #fffaf2;
  box-sizing: border-box;
  width: 110px;
}

.email-box > div {
  border-bottom: #616959;
  border-bottom-style: solid;
  width: 175px;
}

#melding {
  width: 100%;
  max-width: 370px;
  height: 80px;
  border: 1px;
  border-style: solid;
  border-color: #616959;
  resize: none;
}

#email-sub {
  background-color: #fde465;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#navmenu {
  display: flex;
  gap: 16px;
  margin: 0;
}

#navmenu,
.dropdownmenu {
  list-style-type: none;
  z-index: 1;
}

#navmenu a,
.dropdownmenu a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

#navmenu a:hover,
.dropdownmenu a:hover {
  color: lightgrey;
}
.dropdownmenu {
  position: absolute;
  background-color: #616959;
  padding: 16px;
  right: 0;
}

.dropdownmenu > li:not(:first-child) {
  margin-top: 16px;
}

#toggleId {
  cursor: pointer;
}

#sendt {
  background-color: white;
  width: auto;
  text-align: center;
  padding: 50px;
  height: 422px;
  margin: 64px;
}

@media only screen and (max-width: 780px) {
  #navmenu {
    display: none;
  }
  #toggleId {
    display: inline;
    color: white;
  }
  .dropdownmenu {
    display: block;
  }
  .dropdownmenu-hidden {
    display: none;
  }
}

@media only screen and (min-width: 780px) {
  #navmenu {
    display: hidden;
  }
  #toggleId {
    display: none;
  }
  .dropdownmenu {
    display: none;
  }
  .dropdownmenu-hidden {
    display: none;
  }
}
