body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 720px;
  margin: 32px auto;
}

img {
  width: 100%;
}

h1 {
  font-weight: lighter;
}

h1 > .subtitle {
  font-size: small;
  font-weight: lighter;
  color: grey;
}

h2 {
  font-weight: lighter;
  color: darkslateblue;
}

h3 {
  font-weight: lighter;
  color: darkslateblue;
}

h4 {
  font-weight: lighter;
  color: darkslateblue;
}

table {
  border: 1px solid black;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  text-align: left;
}
